      	<h2 class="heading-medium">Links</h2>

			<ul class="list list-bullet">
				<li><a href="/writing">Who writes content for GOV.UK</a></li>
				<li><a href="/proposition">What can and can't go on GOV.UK</a></li>
				<li><a href="/requests">Asking for content changes on GOV.UK</a></li>
				<!--<li><a href="/keyContacts">Who to contact about...</a></li>-->
				<li><a href="/process">The content change process</a></li>
				<!--<li><a href="/howWeWork">How we work</a></li>-->
			</ul>
			<h2 class="heading-medium">Other things</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://www.gov.uk/dwp">The design principles</a>
				</li>
				<li><a href="https://dwpdigital.blog.gov.uk/">GOV.UK style guide</a></li>
				<li>
					<a href="https://www.gov.uk/civil-service">User needs</a>
				</li>
			</ul>