{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">DWP content on GOV.UK</h1>
      <p>The Government Digital Service (GDS) manages GOV.UK and is solely responsible for how content is presented on the single government website.</p>
      <p>Above everything all GOV.UK content must have a genuine and proven user need.</p>
 
<p>Departments are responsible for checking content on GOV.UK is factually accurate - not for the words used on the page.</p>
<p style='font-weight:700'>Nobody in DWP has 'sign-off' or ownership of any content on GOV.UK.</p>

	{% include "includes/otherLinks.html" %}

    </div>
  </div>
</main>

{% endblock %}


