{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">DWP content on GOV.UK</h1>
      <p>The Government Digital Service (GDS) manages GOV.UK and sets the standard for how all content is presented on the single government website.</p>
       		<p style='font-weight:700'>GDS has control over who can publish on GOV.UK and has the right to remove, refuse or change any content on GOV.UK that doesn't meet the standard.</p>
      <p>The GOV.UK content team at GDS is solely responsible for any content intended for citizens or small businesses ('mainstream').</p>
      <p>Departments are responsible for ensuring content on mainstream GOV.UK is factually accurate - not for the words used on the page.</p>
      <p>The Digital Publishing team at DWP are responsible for placing departmental publications and specialist content onto GOV.UK. They do this to GDS guidelines.</p> 
      <p style='font-weight:700'>Above everything, any content on GOV.UK must have a genuine and proven user need for it.</p>


	{% include "includes/otherLinks.html" %}

    </div>
  </div>
</main>

{% endblock %}


