{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">DWP content on GOV.UK</h1>
      <p>The Government Digital Service (GDS) manages GOV.UK and sets content standards.</p>
      <p>There are strict rules about what can go on GOV.UK. All content on GOV.UK must have a proven user need.</p>
      <p>GDS can remove or change any content on GOV.UK if it doesn't meet the standards.</p>
      <p>The digital publishing team manages the department's requests for changes to GOV.UK.</p>
      <p style='font-weight:700'>If you're writing or planning content for GOV.UK without talking to the digital publishing team you should stop this work and contact Keith Prust (keith.prust@dwp.gsi.gov.uk).</p>


	{% include "includes/otherLinks.html" %}

    </div>
  </div>
</main>

{% endblock %}


