{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">The publishing process</h1>

      <p>Once your request is received by Keith or Tom you'll get a response. The response may: 

      	<ul class="list list-bullet">
      		<li>ask you for more information about the change</li>
      		<li>agree your request</li>
      		<li>reject your request, and give you a reason</li>
      	</ul>
      <p>If you don't agree with a rejection then you can discuss with Keith or Tom directly in the first instance.</p>
      <h2 class="heading-medium">If your request is agreed</h2>
      <p>A ticket will be raised with the relevant team (either GDS or DWP digital publishing, depending on the type of content) and put in their backlog.</p>
      <p>If the request involves creating a completely new page or section on GOV.UK you may have to join a call for further discussion. This may include colleagues from GDS.</p>
      <h2 class="heading-medium">Once a ticket is raised</h2>
      <p>The work will  be prioritised against all the requests in the team's current backlog.</p>
      <p>GDS prioritise their work against requests from all government departments, not just DWP.</p>
      <p>GDS or the publishing team will draft the content to meet the GOV.UK style guide and send the draft page to check for factual accuracy.</p>
      <h2 class="heading-medium">Fact checking</h2>
      <p>You'll be sent a link to a draft of the content.</p>
      <p>You should review the content and respond with either:</p>
      	<ul class="list list-bullet">
      		<li>confirmation the content is factually accurate</li>
      		<li>comments on where the content is inaccurate and why</li>
      	</ul>
        <p>This isn't an opportunity to 'sign-off' or suggest changes to the content. The content will have been designed to the GDS style guide.</p>
      	<p>If factual corrections are required, changes will be made and you may get another fact check request.</p>
      	<p>Once a positive fact check response is received the content will be published and you'll be told.</p>

	{% include "includes/otherLinks.html" %}

    </div>
  </div>
</main>

{% endblock %}


