{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">The publishing process</h1>

      <p>Once your request is received by Keith or Tom you'll get a response. The response may: 

      	<ul class="list list-bullet">
      		<li>ask you for more information</li>
      		<li>agree your request</li>
      		<li>give you a reason why your request won't be done</li>
      	</ul>
      <p>If you don't agree with a decision then you should discuss this with Keith or Tom directly.</p>
      <h2 class="heading-medium">If your request is agreed</h2>
      <p>A request for the work will be made with either GDS or DWP digital publishing, depending on the type of content.</p>
      <p>If the request involves creating a new page or section on GOV.UK you may have to join a call for further discussion. This may include colleagues from GDS.</p>
      <p>You may ask for one person to be added to a GDS request.</p>
      <h2 class="heading-medium">Once a request is made</h2>
      <p>The work will be done in order of importance among all the requests the team currently has - not necessarily in the order it's received.</p>
      <p>You should be aware that GDS receives requests from all government departments, not just DWP.</p>
      <p>GDS or the publishing team will draft the content to meet the GOV.UK style guide and send the draft page to check for factual accuracy.</p>
      <p>If you've been added to a GDS request you'll receive emails if the content designer has any questions. Don't send or forward these messages to anybody else. Discuss with your colleagues if you need to and send a single response. </p>

      <h2 class="heading-medium">Fact checking</h2>
      <p>You'll be sent a link to a draft of the content.</p>
      <p>After looking at the content, reply with either:</p>
      	<ul class="list list-bullet">
      		<li>agreement the content is factually accurate</li>
      		<li>comments on where the content is inaccurate and why</li>
      	</ul>
        <p>Don't suggest style changes. The content will have been designed to the GDS style guide.</p>
      	<p>If corrections are needed you may get another fact check request once they're made.</p>
      	<p>Once you agree the content is accurate it will be published. You'll be told when this is done.</p>

	{% include "includes/otherLinks.html" %}

    </div>
  </div>
</main>

{% endblock %}


