{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">DWP content on GOV.UK</h1>
      <p>The Government Digital Service (GDS) manages GOV.UK and is solely responsible for how digital content for the general public or small businesses (known as 'mainstream') is presented on the single government website.</p>
      <p>The GDS content team designs pages based on user insight and web analytics to meet user needs. Content is designed to meet the design principles and user needs.</p>

      <p>The DWP digital publishing team publishes PDFs, press releases and other data or non-mainstream content to GOV.UK. This content must still meet the proposition of what should and shouldn't go on GOV.UK. </p>
      <p>The title, description and location of this content will be decided by the DWP digital publishing team according to GOV.UK design principles and style guide.</p>
	{% include "includes/otherLinks.html" %}

    </div>
  </div>
</main>

{% endblock %}


