{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">DWP content on GOV.UK</h1>
      <p>The Government Digital Service (GDS) is solely responsible for how digital content intended for citizens or small businesses (known as 'mainstream') is presented on the single government website.</p>
      <p>The GDS content team designs pages and content based on user insight, data and analytics to best meet user needs. All content must meet the design principles and style guide.</p>

      <p>The DWP digital publishing team publishes PDFs, press releases and other data or non-mainstream content to GOV.UK.</p>
      <p>This content must still meet the proposition of what should and shouldn't go on GOV.UK. </p>
      <p>The title, description and location of this content on GOV.UK is decided by the DWP digital publishing team according to GOV.UK design principles and style guide.</p>
	{% include "includes/otherLinks.html" %}

    </div>
  </div>
</main>

{% endblock %}


