{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Who writes content for GOV.UK</h1>
      <p>The Government Digital Service (GDS) is solely responsible for writing any digital content on GOV.UK intended for citizens or small businesses. </p>
      <p>The DWP digital publishing team is responsible for publishing and presenting departmental information on GOV.UK. This includes:</p>
        <ul class="list list-bullet">
          <li>corporate reports</li>
          <li>transparency releases</li>
          <li>content about the development and implementation of DWP policies</li>
          <li>guidance for specialist audiences</li>
          <li>press releases, news stories and speeches</li>
          <li>statistics</li>
          <li>research reports</li>
          <li>printed forms</li>
          <li>Freedom of Information responses</li>
          <li>promotional material</li>
        </ul>
      <p>The publishing team uses analytics, feedback and user insights from research to design this content.</p>
      <p>The publishing teams decide where and how these items appear on GOV.UK, and in what format.</p>
      <p>All content must meet:</p>
        <ul class="list list-bullet">
          <li>the proposition of <a href="https://www.gov.uk/government/publications/govuk-proposition/govuk-proposition">what should and shouldn't go on GOV.UK</a></li>
          <li><a href="https://www.gov.uk/design-principles">the design principles</a> and <a href="https://www.gov.uk/guidance/style-guide">style guide</a></li>
        </ul>
	{% include "includes/otherLinks.html" %}

    </div>
  </div>
</main>

{% endblock %}


